body{
    background-image: url('img/Logo\ VC.jpeg'); 
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center;  
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    background-color: rgb(5, 3, 151);
    position: fixed;
    top: 0;
}

.navbar ul {
    list-style: none;      
    display: flex; 
    justify-content: center;        
    padding: 0;             
    margin: 0;              
}

.navbar li {
    margin-right: 20px;     
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.logo{
    width: 100px;
    height: auto;
    vertical-align: middle;
}
