body{
    background-image: url('img/Logo\ VC.jpeg'); 
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center;  
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    background-color: rgb(5, 3, 151);
    border-radius: 8px;
  
}

.navbar ul {
    list-style: none;      
    display: flex; 
    justify-content: center;        
    padding: 0;             
    margin: 0;              
}

.navbar li {
    margin-right: 20px;     
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.logo{
    width: 100px;
    height: auto;
    vertical-align: middle;
}

.catalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.servicios{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
