body{
    background-image: url('img/Logo\ VC.jpeg'); 
    background-repeat: no-repeat;       
    background-size: cover;             
    background-position: center;  
    font-family: 'Times New Roman', Times, serif;
}